<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723482960385-1dv2gq5424dm6vo8t49rbe3bsi7mac0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723482960385-1dv2gq5424dm6vo8t49rbe3bsi7mac0p</string>
	<key>API_KEY</key>
	<string>AIzaSyB4jDNxnEaet7xPRyC9eU6VAfwy8YTHwmM</string>
	<key>GCM_SENDER_ID</key>
	<string>723482960385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.canbaba.chatcan</string>
	<key>PROJECT_ID</key>
	<string>chatcan-44462</string>
	<key>STORAGE_BUCKET</key>
	<string>chatcan-44462.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723482960385:ios:8be00ad5fae01edf70d600</string>
</dict>
</plist>